# Informe  de Análisis III

## Inmuebles Residenciales

La empresa solo está interesada en inmuebles residenciales por lo que crearemos una nueva Base de datos para esos datos

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('datos/alquiler.csv', sep = ';')

In [ ]:
datos.head(10)

In [3]:
# creamos una lista con los tipos inmuebles que contiene la Base de datos
list(datos['Tipo'].drop_duplicates())

['Quitinete',
 'Casa',
 'Conjunto Comercial/Sala',
 'Apartamento',
 'Casa de Condomínio',
 'Prédio Inteiro',
 'Flat',
 'Loja/Salão',
 'Galpão/Depósito/Armazém',
 'Casa Comercial',
 'Casa de Vila',
 'Terreno Padrão',
 'Box/Garagem',
 'Loft',
 'Loja Shopping/ Ct Comercial',
 'Chácara',
 'Loteamento/Condomínio',
 'Sítio',
 'Pousada/Chalé',
 'Studio',
 'Hotel',
 'Indústria']

In [4]:
# Creamos una lista con los tipo de inmubles que son residenciales
residencial = ['Quitinete',
 'Casa',
 'Apartamento',
 'Casa de Condomínio',
 'Casa de Vila']

In [5]:
residencial

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [6]:
datos.head(10)

,Tipo,Barrio,Cuartos,Nro_Estacionamiento,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

Cuando pasemos el listado residencial que queremos, se verificará dentro del DataFrame si los elementos de nuestra lista realmente existen, marcando True o False.

In [7]:
seleccion = datos['Tipo'].isin(residencial)
seleccion

0         True
1         True
2        False
3         True
4         True
         ...
32955     True
32956     True
32957     True
32958     True
32959    False
Name: Tipo, Length: 32960, dtype: bool

Usaremos un método de selección en el DataFrame, de modo que solo tengamos los registros que tengan la etiqueta True. Crearemos un nuevo DataFrame, ``datos_residencial``

In [8]:
datos_residencial = datos[seleccion]

In [9]:
datos_residencial

,Tipo,Barrio,Cuartos,Nro_Estacionamiento,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [10]:
list(datos_residencial['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [11]:
datos_residencial.shape[0]

22580

In [12]:
datos.shape[0]

32960

In [13]:
datos_residencial.index = range(datos_residencial.shape[0])

In [14]:
datos_residencial

,Tipo,Barrio,Cuartos,Nro_Estacionamiento,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

## Exportando la Base de Datos

In [15]:
datos_residencial.to_csv('datos/alquiler_residencial.csv', sep = ';')

In [ ]:
datos_residencial_2 = pd.read_csv('datos/alquiler_residencial.csv', sep = ';')

In [ ]:
datos_residencial_2

In [ ]:
datos_residencial.to_csv('datos/alquiler_residencial.csv', sep = ';', index = False)

In [ ]:
datos_residencial_2 = pd.read_csv('datos/alquiler_residencial.csv', sep = ';')

In [ ]:
datos_residencial_2