# Informes de Análisis IV

## Selecciones y Frecuencias

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('datos/alquiler_residencial.csv', sep = ';')

In [3]:
datos.head(10)

,Tipo,Barrio,Cuartos,Nro_Estacionamiento,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [4]:
# Seleccione solamente los inmuebles clasificados con tipo 'Apartamento'
seleccion = datos['Tipo'] == 'Apartamento'
n1 = datos[seleccion].shape[0]
n1

19532

In [6]:
# Seleccione los inmuebles clasificados con tipos 'Casa', 'Casa de Condomínio' y 'Casa de Vila'
seleccion = (datos['Tipo'] == 'Casa') | (datos['Tipo'] == 'Casa de Condomínio') | (datos['Tipo'] == 'Casa de Vila')
n2 = datos[seleccion].shape[0]
n2

2212

In [11]:
# Seleccione los inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites
# 60 <= Area <= 100
seleccion = (datos['Area'] >= 60) & (datos['Area'] <= 100)
n3 = datos[seleccion].shape[0]
n3

8719

In [8]:
# Seleccione los inmuebles que tengan por lo menos 4 cuartos y alquiler menor que R$ 2.000,00
seleccion = (datos['Cuartos'] >= 4) & (datos['Valor'] < 2000)
n4 = datos[seleccion].shape[0]
n4

41

In [9]:
print("Nº de inmuebles clasificados con tipo 'Apartamento' -> {}".format(n1))
print("Nº de inmuebles clasificados con tipos 'Casa', 'Casa de Condomínio' y 'Casa de Vila' -> {}".format(n2))
print("Nº de inmuebles con área entre 60 y 100 metros cuadrados, incluyendo los limites -> {}".format(n3))
print("Nº de inmuebles que tengan por lo menos 4 cuartos y alquiler menor que R$ 2.000,00 -> {}".format(n4))

Nº de inmuebles clasificados con tipo 'Apartamento' -> 19532
Nº de inmuebles clasificados con tipos 'Casa', 'Casa de Condomínio' y 'Casa de Vila' -> 2212

NameError: name 'n3' is not defined